    <h2>Sua User</h2>
  

  <form action="/account/{{taikhoans._id}}/edit?_method=PUT" method="post">
  <div class="form-group">
    <label for="Name">email</label>
    <input type="text" class="form-control" id="Name" placeholder="Enter Your Name" name="email" value="{{taikhoans.email}}">

  </div>
  <div class="form-group">
    <label for="Adress">Adress</label>
    <input type="text" class="form-control" id="Adress" placeholder="Adress" name="password" value="{{taikhoans.password}}">
  </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">sua</button>
      </div>
</form>

